{% extends 'home.html' %}
{% load static %}
{% block title%}AddLinks{%endblock%}
{% block content %}

<style>
	.report-container {
		display: flex;
		flex-direction: column;
		gap: 0;
	}

	h2 {
		font-size: 16px;
		text-align: center;
		margin: 0 !important;
		display: flex;
		place-items: center;
	}

	.table-1 tr>td {
		text-align: start !important;
	}

	.table-1 tr,
	.table-1 tr td {
		border: none;
		height: 10px !important;
	}

	.table-1 {
		border-bottom: none !important;
	}

	.table-1,
	.table-2 {
		border-collapse: collapse;
		margin: 0;
		padding: 0;
		width: 100%;
		table-layout: fixed;
		border: 1px solid #000;
	}

	.table-2 td {
		border: 1px solid #000;
	}

	.table-1 tr>td {
		font-size: 13px;
		word-wrap: break-word;
		text-align: center;
	}

	.table-2 tr>td {
		font-size: 11px;
		word-wrap: break-word;
		text-align: center;
		height: 65px;
		padding: 0;
		margin: 0;
	}

	.vertical-text {
		writing-mode: vertical-rl;
		text-align: center;
		transform: rotate(180deg);
		padding: 10px;
		max-height: 100px;
	}

	.consent {
		line-height: 1.2rem;
		font-size: 14px;
		margin-top: 0.5rem;
	}

	.consent>div {
		flex: 1;
		display: flex;
		place-items: center;
		gap: 3rem;
	}

	.consent>div>span {
		display: flex;
		place-items: center;
		height: 60px;
		width: 30%;
		justify-content: center;
		gap: 0.5rem;
	}

	.signature-field {
		flex: 1;
		height: 60px;
		width: 100%;
		border: 1px solid #000;
	}

	.consent>div>span>p {
		margin-top: 5px !important;
	}

	.consent>span>span {
		display: flex;
		justify-content: space-between;
		place-items: center;
		width: 50%;
		gap: 0.5rem;
		margin-bottom: 0.5rem;
	}

	.consent>span {
		display: flex;
		place-items: center;
		justify-content: space-between;
		width: 52%;
		gap: 0.5rem;
		margin-bottom: 0.5rem;
	}

	.table-1 td,
	.table-1 tr {
		padding: 5px !important;
	}

	.table-2 tr:nth-child(1) td {
		height: 30px !important;
	}

	.table-2 tr:not(:nth-child(2)) td {
		height: 30px !important;
	}

	.report-container-header {
		display: flex;
		gap: 1rem;
		justify-content: center;
	}

	.action-btn {
		background-color: rgb(82, 82, 223);
		color: white;
		border-radius: 8px;
		padding-inline: 1rem;
		outline: none;
		border: 0;
		font-size: 12px;
		margin-bottom: 0.5rem;
	}

	.action-btn:hover {
		filter: brightness(1.5);
	}

	@media print {
		.action-btn {
			display: none;
		}

		@page {
			size: landscape;
			margin: 0;
		}

		body {
			visibility: visible !important;
		}

		body * {
			visibility: hidden !important;
		}

		#pdfToPrint,
		#pdfToPrint * {
			visibility: visible !important;
		}

		@page {
			margin: 1rem;
		}

		header,
		footer,
		nav,
		.other-elements {
			display: none !important;
		}

		#pdfToPrint {
			width: 100%;
			padding: 0;
			margin: 0;
		}

		.table-1,
		.table-2 {
			width: 100%;
			table-layout: fixed;
			border-collapse: collapse;
			border: 1px solid #000;
		}

		.table-1 tr,
		.table-1 tr td {
			border: none !important;
		}

		.table-1 {
			border-bottom: none !important;
		}

		.table-1 tr>td {
			text-align: start !important;
		}

		.table-2 td {
			border: 1px solid #000 !important;
		}

		.table-1>td {
			font-size: 13px;
			word-wrap: break-word;
			text-align: center;
		}

		.table-2 td {
			font-size: 10px;
			text-align: center;
		}

		.table-2 tr:nth-child(1) td {
			height: 30px !important;
		}

		.table-2 tr:not(:nth-child(2)) td {
			height: 30px !important;
		}
	}
</style>



<section class="report-container" id="pdfToPrint">
	<div class="report-container-header">
		<h2 class="header" id="instituteHeader">STATE INSTITUTE OF TECHNICAL TEACHERS TRAINING & RESEARCH, KALAMASSERY
		</h2>
		<span>
			<button type="button" class="action-btn" id="editButton" onclick="toggleEdit()">Edit</button>
		</span>
	</div>
	<table border="1" width="100%" class="table-1">
		<tr>
			<td>Head Quarters:</td>
			<td>Name in Capital letters: {{ user.first_name|upper }} {{ user.last_name|upper }}</td>
			<td>Basic Pay: {{ profile.basicPay }} </td>
			<td>Allowance:</td>
		</tr>
		<tr>
			<td></td>
			<td>Designation: {{ profile.designation }}</td>
			<td colspan="2">A/C No. & IFSC Code: {{ profile.accountNumber }} & {{ profile.ifscCode }}</td>
		</tr>
		<tr>
			<td></td>
			<td>Address:</td>
			<td colspan="2">Bank & Branch: {{ profile.bankName }} & {{ profile.branchName }}</td>
		</tr>
	</table>
	<table border="1" width="100%" class="table-2">
		<tr>
			<td colspan="3" width="25.5%" align="center"><b>Departure</b></td>
			<td colspan="3" width="25.5%" align="center"><b>Arrival</b></td>
			<td colspan="8"></td>
		</tr>
		<tr>
			<td class="horizontal-text">Station</td>
			<td class="horizontal-text">Date</td>
			<td class="horizontal-text">Time</td>
			<td class="horizontal-text">Station</td>
			<td class="horizontal-text">Date</td>
			<td class="horizontal-text">Time</td>
			<td class="vertical-text">Distance<br>(km)</td>
			<td class="vertical-text">Mode of<br> journey <br>Rail/Road</td>
			<td class="vertical-text">Fare(Rs)</td>
			<td class="vertical-text">Incidental<br> Expense<br>(Rs)</td>
			<td class="vertical-text">DA for <br>halt(Rs)</td>
			<td class="vertical-text">Total<br> Amount<br>(Rs)</td>
			<td class="vertical-text">Purpose of<br> Journey</td>
			<td class="vertical-text">Remarks</td>
		</tr>
		{% if journeyRoutePaths %}
		{% for journeyRoutePath in journeyRoutePaths %}
		<tr>
			<td>{{ journeyRoutePath.routeLink.start }}</td>
			<td>{{ journeyRoutePath.startDate }}</td>
			<td>{{ journeyRoutePath.startTime }}</td>
			<td>{{ journeyRoutePath.routeLink.end }}</td>
			<td>{{ journeyRoutePath.endDate }}</td>
			<td>{{ journeyRoutePath.endTime }}</td>
			<td>{{ journeyRoutePath.routeLink.distance }}</td>
			<td>{{ journeyRoutePath.routeLink.mode }}</td>
			<td>{{ journeyRoutePath.routeLink.price }} Rs</td>
			<td>{{ 0 }}</td>
			<td> To Calculate </td>
			<td> To Calculate </td>
			{% if forloop.first %}
			<td class="vertical-text" rowspan="{{ total_count }}">{{ journeyRoute.purpose }}</td>
			{% endif %}
			<td class="remarks"></td>
			

		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td colspan="14" style="text-align: center;">No report data available</td>
		</tr>
		{% endif %}
		<tr>
			<td>TOTAL</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
	<div class="consent">
		<p>Certified that i have performed journey from ...................................................... to
			...................................................... by
			......................................................and <br> From
			...................................................... to
			......................................................
			by ......................................................</p>
		<p>Certified that i will perform journey from ............................................................ to
			...................................................... by
			......................................................and <br> From
			...................................................... to
			......................................................
			by ......................................................</p>
		<div>
			<p>Recieved from the Joint Director, State Institute of Technical Teachers Training & <br>
				Research,Kalamassery
				An amount of &#8377;........................./-
				(Rupees.........................<br>........................................................................................................only)
				being<br>
			</p>
			<span>
				<p>Signature of the Officer:</p>
				<span class="signature-field"></span>
			</span>
		</div>
		<p>My TA & DA for attending the Faculty Development Programme mentioned above.</p>
		<span>
			<span>
				<p>Signature:</p>
				<span class="signature-field"></span>
			</span>
			<p>Signature of Joint Director:</p>
		</span>
	</div>
</section>

<button id="printReportBtn">Print Report</button>

<script>
	var isEdit = false;
	document
		.getElementById("printReportBtn")
		.addEventListener("click", function () {
			window.print();
		});

	function toggleEdit() {
		isEdit = !isEdit;
		var button = document.getElementById("editButton");
		var header = document.getElementById("instituteHeader");
		var remarks = document.querySelectorAll('.remarks');

		if (isEdit) {
			header.setAttribute("contenteditable", "true");
			header.style.border = "1px dashed red";
			button.textContent = "Save";
			button.style.backgroundColor = isEdit ? "green" : "rgb(82, 82, 223)"

			remarks.forEach(function (remark) {
				remark.setAttribute("contenteditable", "true");
				remark.style.border = "1px dashed red";
			});
		} else {
			header.removeAttribute("contenteditable");
			header.style.border = "none";
			button.textContent = "Edit";

			remarks.forEach(function (remark) {
				remark.removeAttribute("contenteditable");
				remark.style.border = "1px solid #000";
			});
		}
	}
</script>

{% endblock %}