{% extends 'home.html' %}
{% load static %}
{% block title%}AddLinks{%endblock%}
{% block content %}

<style>
	.report-container {
		display: flex;
		flex-direction: column;
		gap: 0;
	}

	h2 {
		font-size: 16px;
		text-align: center;
	}

	.table-1 tr>td {
		text-align: start !important;
	}

	.table-1 tr,
	.table-1 tr td {
		border: none;
	}

	.table-1 {
		border-bottom: none !important;

	}

	.table-1,
	.table-2 {
		border-collapse: collapse;
		margin: 0;
		padding: 0;
		width: 100%;
		table-layout: fixed;
		border: 1px solid #000;
	}

	.table-2 td {
		border: 1px solid #000;
	}

	.table-1 tr>td {
		font-size: 13px;
		word-wrap: break-word;
		text-align: center;
	}

	.table-2 tr>td {
		font-size: 11px;
		word-wrap: break-word;
		text-align: center;
		height: 65px;
		padding: none;
		margin: none;
	}

	.vertical-text {
		writing-mode: vertical-rl;
		text-align: center;
		transform: rotate(180deg);
		padding: 10px;
		max-height: 100px;
	}

	.consent {
		line-height: 2rem;
		font-size: 14px;
		margin-top: 1rem;
	}

	.consent>div {
		flex: 1;
		display: flex;
		place-items: center;
		gap: 3rem;
	}

	.consent>div>span {
		display: flex;
		place-items: center;
		height: 60px;
		width: 30%;
		justify-content: center;
		gap: 1rem;
	}

	.signature-field {
		flex: 1;
		height: 60px;
		width: 100%;
		border: 1px solid #000;
	}

	.consent>div>span>p {
		margin-top: 15px !important;

	}

	.consent>span>span {
		display: flex;
		justify-content: space-between;
		place-items: center;
		width: 50%;
		gap: 1rem;
		margin-bottom: 1rem;

	}

	.consent>span {
		display: flex;
		place-items: center;
		justify-content: space-between;
		width: 52%;
		gap: 1rem;
		margin-bottom: 1rem;
	}

	@media print {
		@page {
			size: landscape;
		}

		body * {
			visibility: hidden;
		}

		#pdfToPrint,
		#pdfToPrint * {
			visibility: visible;
		}

		#pdfToPrint {
			width: 100%;
		}

		.table-1,
		.table-2 {
			width: 100%;
			table-layout: fixed;
			border-collapse: collapse;
			border: 1px solid #000;
		}

		.table-1 tr,
		.table-1 tr td {
			border: none !important;
		}

		.table-1 {
			border-bottom: none !important;
		}

		.table-1 tr>td {
			text-align: start !important;
		}

		.table-2 td {
			border: 1px solid #000 !important;
		}

		.table-1>td {
			font-size: 13px;
			word-wrap: break-word;
			text-align: center;
		}

		.table-2 td {
			font-size: 10px;
			text-align: center;
		}

	}
</style>



<section class="report-container" id="pdfToPrint">
	<h2 class="header">STATE INSTITUTE OF TECHNICAL TEACHERS TRAINING & RESEARCH, KALAMASSERY</h2>
	<table border="1" width="100%" class="table-1">
		<tr>
			<td>Head Quarters:</td>
			<td>Name in Capital letters:</td>
			<td>Basic Pay:</td>
			<td>Allowance:</td>
		</tr>
		<tr>
			<td></td>
			<td>Designation:</td>
			<td colspan="2">A/C No. & IFSC Code:</td>
		</tr>
		<tr>
			<td></td>
			<td>Address:</td>
			<td colspan="2">Bank/Branch:</td>
		</tr>
	</table>
	<table border="1" width="100%" class="table-2">
		<tr>
			<td colspan="3" width="25.5%" align="center"><b>Departure</b></td>
			<td colspan="3" width="25.5%" align="center"><b>Arrival</b></td>
			<td colspan="8"></td>
		</tr>
		<tr>
			<td>Station</td>
			<td>Date</td>
			<td>Time</td>
			<td>Station</td>
			<td>Date</td>
			<td>Time</td>
			<td class="vertical-text">Distance<br>(km)</td>
			<td class="vertical-text">Mode of<br> journey <br>Rail/Road</td>
			<td class="vertical-text">Fare(Rs)</td>
			<td class="vertical-text">Incidental<br> Expense<br>(Rs)</td>
			<td class="vertical-text">DA for <br>halt(Rs)</td>
			<td class="vertical-text">Total<br> Amount<br>(Rs)</td>
			<td class="vertical-text">Purpose of<br> Journey</td>
			<td class="vertical-text">Remarks</td>
		</tr>
		{% if report_data %}
		{% for item in report_data %}
		<tr>
			<td>{{ item.departure_station }}</td>
			<td>{{ item.departure_date }}</td>
			<td>{{ item.departure_time }}</td>
			<td>{{ item.arrival_station }}</td>
			<td>{{ item.arrival_date }}</td>
			<td>{{ item.arrival_time }}</td>
			<td>{{ item.distance }}</td>
			<td>{{ item.mode }}</td>
			<td>{{ item.fare }}</td>
			<td>{{ item.incidential_expense }}</td>
			<td>{{ item.da }}</td>
			<td>{{ item.total }}</td>
			<td class="vertical-text">{{ item.purpose }}</td>
			<td class="vertical-text">{{ item.remarks }}</td>
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td colspan="14" style="text-align: center;">No report data available</td>
		</tr>
		{% endif %}
		<tr>
			<td>TOTAL</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>

		</tr>
	</table>
	<div class="consent">
		<p>Certified that i have performed journey from ...................................................... to
			...................................................... by
			......................................................and <br> From
			...................................................... to
			......................................................
			by ......................................................</p>
		<p>Certified that i will perform journey from ............................................................ to
			...................................................... by
			......................................................and <br> From
			...................................................... to
			......................................................
			by ......................................................</p>
		<div>
			<p>Recieved from the Joint Director, State Institute of Technical Teachers Training & <br>
				Research,Kalamassery
				An amount of &#8377;........................./-
				(Rupees.........................<br>........................................................................................................only)
				being<br>
			</p>
			<span>
				<p>Signature of the Officer:</p>
				<span class="signature-field"></span>
			</span>
		</div>
		<p>My TA & DA for attending the Faculty Development Programme mentioned above.</p>
		<span>
			<span>
				<p>Signature:</p>
				<span class="signature-field"></span>
			</span>
			<p>Signature of Joint Director:</p>
		</span>
	</div>
</section>

<button id="printReportBtn">Print Report</button>

<script>
	document
		.getElementById("printReportBtn")
		.addEventListener("click", function () {
			window.print();
		});
</script>

{% endblock %}