{% extends 'home.html' %}

{% block title %}View Routes{% endblock %}

{% block content %}
<div class="container">
    <h1>View Routes</h1>
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="source">Source :</label>
                    <select id="source" name="source" required>
                        <option value="" selected disabled>-- Select Source --</option>
                        {% for stop in stops %}
                        <option value="{{ stop.id }}">{{ stop.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col">
                    <label for="destination">Destination :</label>
                    <select id="destination" name="destination" required>
                        <option value="" selected disabled>-- Select Destination --</option>
                        {% for stop in stops %}
                        <option value="{{ stop.id }}">{{ stop.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="search-button-container">
                    <button type="submit">Search Route</button>
                </div>
            </div>
        </div>
    </form>
    <div class="list-group">
        {% if not routesWithPaths %}
        <div class="list-group-item">
            Not Routes Found
        </div>
        {% else %}
        {% for routeWithPaths in routesWithPaths %}
        <div class="list-group-item">
            <h3>{{ routeWithPaths.route.source.name }} → {{ routeWithPaths.route.destination.name }}</h3>
            {% if routeWithPaths.routePaths.count %}
            <p><strong>Intermediate Stops</strong></p>
            {% for routePath in routeWithPaths.routePaths %}
            <div class="list-group-item">
                <span>
                    Start : {{ routePath.routeLink.start.name }},
                    End : {{ routePath.routeLink.end.name }},
                    Mode Of Travel : {{ routePath.routeLink.get_mode_display }},
                    Distance : {{ routePath.routeLink.distance }},
                    Price : {{ routePath.routeLink.price }}
                </span>
            </div>
            {% endfor %}

            {% if not routeWithPaths.route.verified %}
            <a href="{% url 'add_route_path' routeWithPaths.route.id %}" class="btn btn-info">Edit Route Path</a>
            {% endif %}
            {% else %}
            <a href="{% url 'add_route_path' routeWithPaths.route.id %}" class="btn btn-info">Add Route Path</a>
            {% endif %}
            {% if routeWithPaths.routePaths %}
            <a href="{% url 'add_route_to_journey' routeWithPaths.route.id %}" class="btn btn-info">Add Route To
                Journey</a>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<style>
    .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .col {
        flex: 2;
        margin-right: 5px;
    }

    .col:last-child {
        margin-right: 0;
    }

    .container {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        max-width: 1000px;
        margin: 0 auto;
    }

    h1 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    .list-group-item {
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
        background-color: #f9f9f9;
    }

    .btn {
        padding: 10px 20px;
        margin-top: 10px;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

    .btn-info {
        background-color: #17a2b8;
    }

    .btn-warning {
        background-color: #ffc107;
    }

    .btn:hover {
        opacity: 0.8;
    }

    label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }

    select,
    input[type="number"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 1rem;
        box-sizing: border-box;
        transition: border-color 0.3s ease;
    }

    select:focus,
    input:focus {
        border-color: #007bff;
        outline: none;
    }

    button {
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #0056b3;
    }

    .search-button-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-right: 5px;
        justify-content: end;
    }
</style>
{% endblock %}